[submodule "AutoIt-FSOClass"]
	path = AutoIt-FSOClass
	url = git://github.com/coldscientist/AutoIt-FSOObject.git
[submodule "Imports/AutoIt-ProcessClass"]
	path = Imports/AutoIt-ProcessClass
	url = git://github.com/coldscientist/AutoIt-ProcessClass
